services:
  torchenv-rocm70-shampoo:
    container_name: training-overlap-bugs-rocm70_9-1-shampoo
    build:
      context: .
      dockerfile: Dockerfile.rocm70_9-1-shampoo
      network: host
    user: root
    privileged: true
    network_mode: host
    group_add:
      - video
    ipc: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    environment:
      - RCCL_FOLDER=/rccl
      - LD_LIBRARY_PATH=/rccl/build/release:${LD_LIBRARY_PATH:-}
      - TORCH_NCCL_HIGH_PRIORITY=1

    volumes:
      - /home/manrao:/manrao
      - /apps/oyazdanb/aorta:/workspace/aorta
    devices:
      - /dev/kfd
      - /dev/dri
    working_dir: /workspace/aorta
    shm_size: 17G
    ulimits:
      memlock: -1
      stack: 67108864
    stdin_open: true
    tty: true
